<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <a href="/customers/create">Add New Customer</a>
    <ul>
        <% for(var i = 0; i < list.length; i++) { %>
            <li>
                <%= `Id: ${list[i].id} \t \t First Name: ${list[i].firstName} \t \t Last Name: ${list[i].lastName} \t \t email: ${list[i].email}` %>&nbsp;
                <a href="/customers/delete?id=<%= list[i].id %>">Delete</a> <a href="/customers/update?id=<%= list[i].id %>">Update</a>
            </li>
        <% } %>
    </ul>
</body>
</html>